<ul id="plan__index">
  <% itinerary.plans.each do |plan| %>
      <li class="plan__wrap">
          <div class="flex-center" id="bar">
            <i class="fa fa-bars"></i>
          </div>
          <div class="plan__item">
            <p><%= plan.text %></p>
          </div>
          <div class="flex-center btn">
            <%#=link_to '✖', itinerary_plan_path(plan.itinerary, plam), method: :delete, remote:true %>
          </div>
      </li>
  <% end %>
</ul>