<div class="travel__index">
  <% travels.each do |travel| %>
  <div class="travel__item">
    <%= link_to travel_path(travel) do %>
      <%= travel.date %>
      <%= travel.title %>
    <% end %>
    <%= link_to travel_path(travel), method: :delete, remote: true do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <% end %>
</div>