<ul id="plan__index">
  <% travel.travel_plans.each do |travel_plan| %>
      <li class="plan__wrap">
          <div class="flex-center" id="bar">
            <i class="fa fa-bars"></i>
          </div>
          <div class="plan__item">
            <p><%= travel_plan.text %></p>
          </div>
          <div class="flex-center btn">
            <%#=link_to '✖', travel_travel_plan_path(travel_plan.travel, travel_plan), method: :delete, remote:true %>
          </div>
      </li>
  <% end %>
</ul>