<div id="top">
  <div class="top__field">

    <div class="top__block bl">
      <h1>Trip On a Day</h1>
    </div>

    <div class="top__block wh">
      <p class="text-box">
        旅行の1日の日程を管理するアプリケーションサイトです。<br />
        予定を立てても順番通りにいかないことも多いはず。<br />
        Trouverはリストを自由に移動させて気ままな旅ライフをサポートします。<br />
        いろんな人たちと旅の記憶や見どころを共有してみてください！
      </p>
   </div>
 </div>
</div>