<div id="top">
  <div class="top__field">

    <div class="top__block bl">
      <div class="block__content">
        <h1>Trip On a Day</h1>
        <% if user_signed_in? %>
        <% else %>
          <%= link_to 'ゲストログインはこちら', users_guest_sign_in_path, method: :post, class:"guest__login wh" %>
        <% end %>
      </div>
    </div>

    <div class="top__block wh">
      <p class="text__box">
        旅行の1日の日程を管理するアプリケーションサイトです。<br />
        予定を立てても順番通りにいかないことも多いはず。<br />
        TODはリストを自由に移動させて気ままな旅ライフをサポートします。<br />
        気が向いたときにでも、旅の記憶や見どころを共有してみてください！<br />
      </p>
    </div>

    <div class="top__block bl">
      <div class="block__content">

      </div>
    </div>
 </div>
</div>