<div class="main__field">
  <h1 class="page-name">Share</h1>

  <div class="gallery__form__box">
    <%= render 'galleries/form', { url: galleries_path, gallery: @gallery, travels: @travels} %>
  </div>

</div>