/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import 'font-awesome';

 $link-color: black;
 $background-color: #f58f8f;
 $head-color: #8eb1b0;
 $form_btn: #67c7c4;

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 a {
  text-decoration: none;
  color: $link-color;
 }

 .container {
   height: 100vh;
   font-family: 'Source Code Pro', monospace;
   position: relative;
 }

 // エラーメッセージでのフォーム崩れ防止
 .field_with_errors {
  display: contents;
 }

 // header
 header {
  z-index: 50;
  display: flex;
  align-items: center;
  height: 100px;
  background-color: $head-color;

  #logo {
    width: 100px;
    height: 100px;
    background-image: image-url("logo1.png");
    background-position: center;
    background-size: cover;
   }

  #menu_trigger {
    line-height: 100px;
    cursor: cell;
   }

  .user__profile {
   width: 200px;
   display: contents;

    #prf-img {
      margin: 10px 20px;
      width: 50px;
      height: 50px;
      border-radius: 5px;
    }
    .user__name {
      display: flex;
    }
   }
 }

 // menu

 #nav__menu {
   display: none;
   z-index: 100;
   width: 100%;
   position: absolute;
   background-color: $head-color;
   opacity: 0.7;
   text-align: center;
 }

 #close_menu {
   cursor: crosshair;
 }

 .nav__list {
   list-style: none;
   margin: 50px 0;
 }

 .nav__item {
   margin-bottom: 15px;
 }

 // Footer
 footer {
  text-align: center;
  line-height: 50px;
  height: 50px;
  background-color: $head-color;
 }


 // メイン画面
.main__field {
  // position: relative;
}

// ページ名
.page-name {
  font-weight: 400;
  padding: 40px 40px 0 40px;
}

// フォームスタイル(Log_in sign_up)
 .form__group {
   width: 70%;
   margin: 20px auto;
 }
 .form__item {
   margin-bottom: 10px;

    .form__field {
     width: 100%;
     height: 40px;
   }

    .form__area {
     width: 100%;
     height: 400px;
   }
 }
 .form__btn {
   width: 100%;
   height: 40px;
   margin: 20px auto;
   color: white;
   font-size: 20px;
   background-color: $form_btn;
   border-radius: 3px;
   padding: 5px 10px;
   border: 1px solid white;
 }