/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import 'font-awesome';
 @import "simple_calendar";

 $link-color: black;
 $background-color: #f58f8f;
 $head-color: #8eb1b0;
 $nav-hover: #89b9b8;
 $form_btn: #dad9de;


 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 a {
  text-decoration: none;
  color: $link-color;
 }

 .container {
   height: 100vh;
   font-family: 'Source Code Pro', monospace;
   position: relative;
 }

 // エラーメッセージでのフォーム崩れ防止
 .field_with_errors {
   display: contents;
 }

 // エラーメッセージ
 #error_box {
  width: 100%;
  padding: 10px 30px 0;
 }

 #error_item {
  padding: 5px;
  list-style: none;
  margin-bottom: 10px;
  background-color: #ffccbd;
 }

 // アラート
 .alert {
	  text-align: center;
 }
 .alert-info {
   background-color: #bde9ff;
   border-color: #bde9ff;
   color: #4c6977;
 }

 .alert-danger {
   background-color: #f3c0c0;
   border-color: #f3c0c0;
   color: #3e3a3a;
 }

 // header
 header {
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: $head-color;

  .logo_menu {
    position: relative;

    #logo {
      width: 100px;
      height: 100px;
      background-image: image-url("logo1.png");
      background-position: center;
      background-size: cover;
     }
    #menu_trigger {
     position: absolute;
     top: 55px;
     left: 90px;
     cursor: pointer;
     }
  }

  .user__profile {
    margin-right: 20px;
    display: flex;
    align-items: center;

    #prf-img {
      margin: 10px 20px;
      width: 50px;
      height: 50px;
      border-radius: 5px;
    }
    .user__name {
      display: flex;
    }
   }
 }

 // menu

 #nav__menu {
   display: none;
   z-index: 100;
   width: 100%;
   position: absolute;
   background-color: $head-color;
   opacity: 0.9;
   text-align: center;
 }

 #close_menu {
   cursor: crosshair;
 }

 .nav__list {
   list-style: none;
   margin: 50px 0;
 }

 .nav__item {
   margin-bottom: 15px;
   height: 40px;
   line-height: 40px;
   transition: all 0.3s;

   &:hover {
    background-color: $nav-hover;
    letter-spacing: 3px;
   }
 }

 // Footer
 footer {
  text-align: center;
  line-height: 50px;
  height: 50px;
  background-color: $head-color;
 }


 // メイン画面
.main__field {
  padding: 50px 0;
  background-color: #f7f5f2;
}

// ページ名
.page-name {
  font-weight: 400;
  padding: 0 40px;
}

// フォームスタイル(Log_in sign_up)
 .form__group {
   width: 70%;
   margin: 20px auto;
 }
 .form__item {
   margin-bottom: 10px;

    .form__field {
     width: 100%;
     height: 40px;
   }

    .form__area {
     width: 100%;
     height: 400px;
   }
 }
 .form__btn {
   width: 100%;
   height: 40px;
   margin: 20px auto;
   cursor: pointer;
   color: white;
   font-size: 20px;
   background-color: $form_btn;
   border-radius: 3px;
   padding: 5px 10px;
   border: 1px solid white;
 }

 // pagenation
 .pagination {
  text-align: center;

  span {
    padding: 5px;
    background-color: #dad9de;
    border-radius: 10%;
    margin: 3px;
  }
 }