// // Place all the styles related to the galleries controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

// show
.gallery__wrap {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__text {
  width: 700px;
  padding: 30px;
  background-color: #f1f1f1;

  h2 {
    display: inline-block;
    margin: 0 0 5px 20px;
  }

  .book-mark {
    display: inline-block;
  }

  p {
    line-height: 2em;
    background-image: linear-gradient(transparent 0, transparent 97%, #ddd 100%);
    background-size: 100% 2em;
    white-space: pre-wrap;
    background-color: white;
    padding: 0 1.3em;
  }

  .user_info {
    margin: 8px auto;
    display: flex;
    justify: center;
  }
  .prf-img {
    width: 20px;
    height: 20px;
  }

  .action_btn {
    padding: 3px 5px;
    background-color: #dfece1;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .gallery__images {
      height: 200px;
      width: 300px;
    }
    #map_display {
      width: 300px;
      height: 200px;
    }
  }
}


.plan__box {
  margin: 20px;
  text-align: center;

  .plan__item {
    width: 300px;
    padding: 0 30px;
    text-align: center;
    line-height: 50px;
    background-color: #d3b4af;
  }
}

// form(new,edit)

.gallery__form__box {
  margin: 20px auto;
  width: 600px;

  .gallery__title {
    margin: 20px 0;
  }

  .map__box {
    margin-bottom: 20px;
    .form {
      height: 30px;
      width: 300px;
      margin: 10px 0;
      padding: 10px;
      font-size: 13px;
    }
    .form__btn {
      width: 80px;
      height: 30px;
      padding: 0;
      font-size: 15px;
    }
  }
  #map_display {
    width: 100%;
    height: 200px;
  }

  .gallery__form {
    margin-bottom: 20px;
  }
  .select__box {
    font-size: 13px;
    width: 400px;
    height: 40px;
  }
  .text__form {
    padding: 10px;
    font-size: 15px;
    width: 100%;
    height: 250px;
  }
  .form__btn {
    margin: 0 auto;
  }
}

// index

.galleries__index {
  width: 80%;
  margin: 20px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__items {
  margin: 10px 10px 0 0;
  padding: 15px;
  background-color: white;

  .gallery__introduce {
    padding-left: 20px;
  }
}



@media screen and (max-width:768px) {

  .gallery__form__box {
    width: 90%;

    .form {
      width: 90%;
    }
    .select__box {
      width: 70%;
    }
  }

}