// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-form {
  width: 400px;
  height: 250px;
}
.form {
  width: 400px;
  height: 30px;
}

#map {
  width: 200px;
  height: 100px;
}

.prf-img {
  width: 20px;
  height: 20px;
}