// Place all the styles related to the travels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bar-handle: #c3898b;
$plan-chosen: #c3898b;


// show
.travel__wrap {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .travel__form {
    width: 350px;
    margin-bottom: 10px;

    .form {
      width: 100%;
      height: 40px;
    }
  }
}

// _plans.html.erb内
.plan__box {
  margin: 0 20px;
}

.plan__wrap {
  display: flex;
  height: 50px;
  border-bottom: 1px solid black;
  position: relative;

  #bar {
    cursor: grab;
    width: 50px;
    background: $bar-handle;
  }
  .btn {
    width: 50px;
    position: absolute;
    right: 0;
  }
  .flex-center {
    text-align: center;
    line-height: 50px;
  }
}

.sortable-chosen {
  border: 2px solid $plan-chosen;
  transform: scale( 1.2, 1.2);
}