// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show
$form_btn: #f5b09b;

#user {
  width: 80%;
  margin: 0 20px;

  #prf-img {
    margin: 10px 20px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  .user__content {
    display: flex;
    align-items: center;
    .name {
      font-size: 25px;
    }
  }

  .travel__new {
    display: table-caption;
    text-align: center;
  }
  .form__item {
    width: 150px;
    height: 40px;
    margin-bottom: 15px;
  }
  .date {

  }
  .form__btn {
    border-radius: 3px;
    width: 300px;
    height: 40px;
    border-color: $form_btn;
    background-color: $form_btn;
  }

  .travel__index {
    width: 400px;
    margin: 0 auto;
    text-align: center;

    .box {
      padding: 10px 40px;
      border-bottom: 2px dashed black;
    }
  }
}