// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// users/show
$form_btn: #f5b09b;

.user__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.back {
  margin: 10px;
  padding: 20px;
  width: 500px;
  background-color: #f1f1f1;
}

// 旅程表作成
.travel__form {
  width: 100%;
  text-align: center;

  .form {
    width: 45%;
    height: 40px;
  }
  .btn {
    width: 85%;
    color: white;
    letter-spacing: 3px;
    padding: 8px 30px;
    border-radius: 3px;
    border: 1px solid $form_btn;
    background-color: $form_btn;
    margin-top: 10px;

    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
}

// users/travels/index 旅程表一覧
.travel__index {
  margin-top: 20px;

  .travel__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px 20px;
    background-color: whitesmoke;
  }
}

// 投稿
.travel__link__btn {
  width: 85%;
  color: white;
  letter-spacing: 3px;
  padding: 8px 30px;
  border-radius: 3px;
  border: 1px solid $form_btn;
  background-color: $form_btn;

  margin: 20px auto;
  text-align: center;
}

// 投稿一覧
.gallery__index {
  margin-bottom: 15px;
  .galleries__index {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__items {
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: flex-end;

    .gallery__introduce {
      padding-left: 20px;
    }
  }
}

// users/edit
.user__form__box {
  margin: 20px auto;
  width: 400px;

  .user__form {
    margin-bottom: 20px;
  }
  .form {
    width: 400px;
    height: 40px;
  }
}
