<% if model.errors.any? %>
  <div id="error_box">
    <div id="error_messages">
      <ul>
        <% model.errors.full_messages.each do |message| %>
        <li id="error_item"><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>